button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background: yellow; 
    color: #0099CC; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 2px solid #0099CC;
    border-radius: 6px; 
    cursor: pointer;
    transition:width 2s;
    transition-timing-function:ease-in-out;
}

button:hover{
    text-decoration-color: white;
    width: 400px;
}
body{
    background-image: url("1.png");
    background-repeat:no-repeat;
    text-align: center;
}
input[type=text], select {
    width: 12%;
    transition: width .35s ease-in-out;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
h4 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    color:blue;
    font-weight: bold;
  }
  p{
    color:blue;
    font-weight: bold;
  }