img {
    height: 130px;
    display: block;
}

span {
    font-size: 40px;
}
/*
.dice {
    font-size: 20px;
}
*/
.arrow{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.p1 {
    background-color: azure;
    margin: auto;
    text-align: center;
}

.p2 {
    background-color: bisque;
    margin: auto;
    text-align: center;
}

.p3 {
    background-color: khaki;
    margin: auto;
    text-align: center;
}

.p4 {
    background-color: lightgray;
    margin: auto;
    text-align: center;
}

th{
height: 30px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 65%;
    white-space: nowrap;
}

input {
    width: 40px;
    white-space: nowrap;
    margin: auto;
    text-align: center;
}

/* Full-width textarea */
textarea#old {
    width: 380px;
    border: none;
    background: #f1f1f1;
    min-height: 200px;
}

textarea#msg {
    width: 380px;
    border: none;
    background: #f1f1f1;
    min-height: 50px;
}

/* Set a style for the submit/login button */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 380px;
    margin-bottom: 10px;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 1s;
}

/* Add a red background color to the cancel button */
.cancel {
    background-color: rgb(240, 98, 98);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 380px;
    margin-bottom: 10px;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 1s;
}

.home{
    margin-left: 350px;
    text-align: center;
    background-color: rgb(30, 218, 252);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 250px;
    margin-bottom: 10px;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 1s;
}
.home:hover {
    background-color: #0469a3
}
.home :active{
    background-color: rgb(150, 150, 226);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn:hover {
    background-color: #2ceb32
}

.btn:active {
    background-color: #2ceb32;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cancel:hover {
    background-color: rgb(241, 20, 20)
}

.cancel:active {
    background-color: rgb(241, 20, 20)2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

div#chatbox h1 {
    width: 380px;
    background-color: lightsalmon;
    color: whitesmoke;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#chatbox {
    width: 100px;
    position: absolute;
    right: 300px;
    bottom: 0px;
    transition: width 3s;
}

div#chatbox:hover {
    width: 220px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  
  margin-left: 30%;
  text-align: center;
}

button#diceFormBtn, #doneBtn{
    margin-left: 90px;
    text-align: center;
    background-color: #90e9ae;
    color: #1f1c1c;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 250px;
    margin-bottom: 10px;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 1s;
}
button#diceFormBtn:hover, #doneBtn:hover{
    background-color: hsl(202, 68%, 52%)
}
button#diceFormBtn :active, #doneBtn:active{
    background-color: rgb(150, 150, 226);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}